* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
}

.schedule-container {
  height: 100vh;
  width: 100vw;
}

.status-bar {
  width: 100vw;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  position: fixed;
  background-color: #f9f7f9;
  z-index: 100;
}

.status-left {
  display: flex;
  align-items: center;
}

.status-right {
  display: flex;
  align-items: center;
}

.status-right p {
  display: inline;
}

.icon {
  height: 15px;
  width: 15px;
}

#signal-icon {
  height: 15px;
  width: 15px;
}

#carrier {
  margin-left: 4px;
}

#wifi-icon {
  margin-left: 4px;
}

#battery-icon {
  height: 20px;
  width: 25px;
  margin-left: 5px;
}

.navigation-bar {
  width: 100vw;
  height: 65px;
  background-color: #f9f7f9;
  padding: 0 2px;
  display: flex;
  align-items: flex-end;
}

.nav-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
}

.back-button {
  position: absolute;
  left: 0;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  border: none;
  background-color: inherit;
}

.back-button p {
  display: inline;
  font-size: 17px;
  color: #3876da;
}

.back-icon {
  height: 25px;
  width: 25px;
}

.nav-header {
  display: inline;
  font-size: 17px;
  font-weight: bolder;
}

.route {
  width: 100vw;
  border-bottom: 1px solid #bcbcbe;
  position: relative;
  color: #333;
  display: flex;
  align-items: center;
}

.route-number-container {
  height: 73px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 53.38px;
}

.route-number {
  font-size: 20px;
  font-weight: bolder;
}

.route-time {
  color: dodgerblue;
  font-weight: 400;
}

.route-arrival {
  color: #918b8c;
  font-weight: 400;
}

.route-line {
  font-weight: 400;
}

.route-info-container {
  width: calc(100% - 58.38px);
  display: inline-flex;
  flex-direction: column;
}

.route-info-section {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding: 0 10px;
}

.route-top-info {
  font-size: 13px;
  font-weight: 500;
  align-items: flex-end;
  padding-bottom: 2.5px;
}
.route-bottom-info {
  font-size: 13px;
  padding-top: 2.5px;
}

.route-info-header {
  display: inline;
}

.reroute .route-time {
  color: #eb4d3d;
}

.out-of-service .route-time {
  color: #918b8c;
}
